.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjusted to 4 columns */
  grid-template-rows: auto;
  grid-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 3 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 3; }

.hytte_product_img_small {
  width: 100%; /* Adjust width as necessary */
  height: auto;
  display: block;
}

.hytte_product_img_big {
  width: 100%; /* Adjust width as necessary */
  height: 100%;
  display: block;
}

.inspiration-image {
  width: 100%; /* Will fill the div4 */
  height: auto;
  display: block;
}
