<!-- website_app/templates/website_app/all_orders.html -->

{% extends 'base/base.html' %}  <!-- Adjust the base template as needed -->

{% block content %}
<style>
.main-orders-container {
  width: 80%;
  margin: auto; /* Centers the container horizontally */
  display: flex; /* Enables the use of Flexbox */
  justify-content: center; /* Centers flex items on the main axis */
  align-items: center; /* Centers flex items on the cross axis */
}

.orders-container {
  text-align: center; /* Centers inline content like text and inline-block elements */
  width: 100%; /* Ensures the container takes the full width of its parent */
}

/* Additional styling for the table to ensure it's centered in .orders-container */
table {
  margin-left: auto;
  margin-right: auto;
}
.buttons-row {
    margin-top: 25px;
    border-bottom: 1px solid;
}
.order-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
}

</style>

<div class="main-orders-container">
    <div class="orders-container">
        <div class="buttons-row">
            <a href="{% url 'add_customer' %}">
                <button class="order-button">Ny ordre</button>
            </a>        </div>
        <h2>Alle ordre</h2>
        <table>
            <tr>
                <th>Ordrenummer</th>
                <th>Kunde</th>
                <th>Totalpris</th>
                <th>Selger</th>
                <th>Leveringsdetaljer</th>
                <th>Status</th>
                <th>Dato</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td><a href="{% url 'order_detail' order.order_number %}">{{ order.order_number }}</a></td>
                <td><a href="{% url 'customer_detail' order.customer.id %}">{{ order.customer.name }}</a></td>
                <td>{{ order.delivery_info }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.salesman }}</td>
                <td>{% if order.completed %}Levert{% elif order.deleted %}Slettet{% endif %}</td>
                <td>{{ order.date_added }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No orders found.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
