{% extends "base/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/image_preview.css' %}">
<script type="text/javascript">
    // This script will add the 'multiple' attribute to all image input fields
    document.addEventListener('DOMContentLoaded', function() {
        // Select all file input elements that contain 'image' in their name attribute
        var imageInputs = document.querySelectorAll('input[type="file"][name^="image"]');
        imageInputs.forEach(function(input) {
            input.setAttribute('multiple', 'multiple');
        });
    });


</script>

<script src="{% static 'js/image_preview.js' %}"></script>


<div class="add-item-container" style="position: relative;">
    <a href="{% url 'show_price_tag_pdf' product.id %}" class="price-tag-button">
        Lag prislapp
    </a>

    <form id="product-form" action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data" class="form-style">
            {% csrf_token %}
            <div class="form-section">
                <h2>Edit Product</h2>
                <p>Title</p>
                {{ form.title }}
                <p>Subtitle</p>
                {{ form.subtitle }}

                <p>Description</p>
                {{ form.description }}
                {% if categories %}
                <div class="form-section">
                    <label for="category">Select Category</label>
                        <select name="category">
                            {% for category in all_categories %}
                                {% if category.id == product.category.id %}
                                    <option value="{{ category.id }}" selected>{{ category.name }}</option>
                                {% else %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                </div>
                {% endif %}
                <p>Pris</p>
                {{ form.price }}
                <p>Salgspris</p>
                {{ form.sale_price }}
                <p>Materiale</p>
                {{ form.material }}
                <p>Farge</p>
                {{ form.color }}
                <p>Høyde</p>
                {{ form.height }}
                <p>Bredde</p>
                {{ form.width }}
                <p>Dybde</p>
                {{ form.depth }}
                <p>Lengde</p>
                {{ form.length }}
                <p>Mer informasjon</p>
                {{ form.more_information }}
                <h2>Prislapp info</h2>
                <p>Prislapp ekstra info</p>
                {{ form.price_tag_info }}
                <!-- Custom styled checkbox for Enabled -->
                <div class="checkbox-section" style="margin-top: 10px;">
                    <p>Salgsprodukter: Vis FRA istedenfor NÅ</p>
                    <label class="switch">
                        {{ form.price_tag_type }}
                        <span class="slider round"></span>
                    </label>
                </div>
                <!-- Custom styled checkbox for Enabled -->
                <div class="checkbox-section" style="margin-top: 10px;">
                    <p>Vil du at produktet skal vises på nettsiden?</p>
                    <label class="switch">
                        {{ form.enabled }}
                        <span class="slider round"></span>
                    </label>
                </div>

                <!-- Custom styled checkbox for Bestseller -->
                <div class="checkbox-section" style="margin-top: 10px;">
                    <p>Vil du markere produktet som en bestselger?</p>
                    <label class="switch">
                        {{ form.bestseller }}
                        <span class="slider round"></span>
                    </label>
                </div>

                {% if suppliers %}
                <div class="form-section">
                    <label for="name">Velg leverandør</label>
                    <select name="supplier" id="supplier">
                        {% for supplier in suppliers %}
                            <option value="{{ supplier.name }}">{{ supplier.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
           
            </div>


<div class="form-section">
    <h3>Assign Colors to Images</h3>
    <p>Use the dropdown menus below to assign a color to each image.</p>
    <div class="image-color-assignment">
        {% for image in product.images.all %}
        <div class="image-color-row" style="margin-bottom: 15px;">
            <p>
                <strong>Image:</strong> {{ image.image.name }}
            </p>
            <img src="{{ image.image.url }}" alt="Image Preview" style="max-width: 100px; max-height: 100px; margin-right: 10px;">
            <label for="image_{{ image.id }}_color">Select Color:</label>
            <select name="image_{{ image.id }}_color" id="image_{{ image.id }}_color" style="margin-left: 10px;">
                <option value="" {% if not image.color %}selected{% endif %}>No Color</option>
                <option value="black" {% if image.color == 'black' %}selected{% endif %}>Black</option>
                <option value="smoked" {% if image.color == 'smoked' %}selected{% endif %}>Smoked</option>
                <option value="greyoiled" {% if image.color == 'greyoiled' %}selected{% endif %}>Greyoiled</option>
                <option value="whiteoiled" {% if image.color == 'whiteoiled' %}selected{% endif %}>Whiteoiled</option>
                <option value="light_oak" {% if image.color == 'light_oak' %}selected{% endif %}>Light Oak</option>
            </select>
        </div>
        {% endfor %}
    </div>
</div>

<div class="form-section image-upload-section" style="margin-top:20px">
    <h3>Bilder</h3>
    <p>Legg til bilder til annonsen din, flere bilder kan gjøre at du får mer interesse</p>
    <div style="display: flex; align-items: center;">
        <!-- The label here is styled to look like a button and when clicked will open the file dialog -->
        <label for="id_images" class="custom-file-upload" style="color:white">
            Legg til bilder
        </label>
    </div>
        
    <input type="file" name="images" multiple id="id_images" style="display: none;"> <!-- Hide the original input -->

    {{ formset.management_form }}


    <div id="image-preview-container" style="justify-content: center; align-items: center; display: flex; flex-wrap: wrap;">
        {% for image in product.images.all %}
            <div class="image-preview" data-image-id="{{ image.id }}">
                <img src="{{ image.image.url }}" data-filename="{{ image.image.name }}">
            </div>
        {% endfor %}
    </div> <!-- Container for image previews -->

</div>

        <p>
            Dato lagt til: {{ product.date_added }}<br>
            Dato sist redigert: {{ product.date_edited}}
        </p>
        <div class="form-buttons">
            <button type="submit" class="submit-btn">Update Product</button>
        </div>

</form>

{% endblock %}