{% extends 'base/base.html' %}  <!-- Adjust this path to your actual base template -->

{% block content %}

<style>
.order-details {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-details h2, .order-details h3 {
    color: #333;
    margin-bottom: 20px;
}

.order-details label {
    display: block;
    color: #333;
    margin-bottom: 5px;
}

.order-details input[type="text"],
.order-details input[type="number"] {
    width: 97%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.order-details .items {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.order-details .item {
    background: #f7f7f7;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.order-details .item label {
    margin-top: 10px;
}

.order-details .save-button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
}

.order-details .save-button:hover {
    background-color: #4cae4c;
}
.item-navigation {
    text-align: center;
    margin-bottom: 20px;
}

.item-nav-button {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.item-nav-button:hover,
.item-nav-button.active {
    background-color: #e0e0e0;
}
.item-nav-button.active {
background-color: #007bff;
color: white;
}
.order-header {
    display: flex;
    flex-direction: column; /* Changed to column to stack elements */
    align-items: center;
    margin-bottom: 15px;
}

.button-row {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Add space between buttons */
    width: 100%; /* Ensure the row takes full width */
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
    margin-bottom: 20px; /* Space below the button row */
}

.print-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 4px;
}
/* Container for toggle buttons */
/* Container for toggle buttons */
.toggle-buttons-container {
    display: flex;
    justify-content: start;
    align-items: center; /* Vertically align items in the container */
    gap: 10px;
    margin-bottom: 20px; /* Space below the toggle buttons */
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px; /* Width of the switch */
    height: 34px; /* Height of the switch */
}

/* Hide default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Label Text Styling */
.label-text {
    display: inline-block;
    margin-left: 10px; /* Space between the slider and text */
}

/* Making sure the toggle button has space around */
.toggle-button {
    display: flex;
    align-items: center; /* Centering items vertically */
    gap: 5px; /* Space between the checkbox and the label text */
}
.back-button-container {
    text-align: left; /* Aligns the back button to the left */
    margin-bottom: 20px; /* Adds space below the back button */
}

.back-button {
    display: inline-block; /* Allows margins to be applied */
    padding: 5px 10px; /* Padding for the button */
    background-color: #d3d3d3; /* A neutral color for the button */
    color: #333; /* Text color */
    text-decoration: none; /* Removes underline from the link */
    border-radius: 4px; /* Rounded corners */
    font-size: 14px; /* Font size similar to other buttons */
    margin-top: -20px; /* Adjusts position to align with the top of the form */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.back-button:hover {
    background-color: #bbb; /* A slightly darker color on hover */
}
</style>        

  


<form class="order-details" method="post">
    {% csrf_token %}
    <div class="back-button-container">
        <a href="{% url 'all_orders' %}" class="back-button">Tilbake</a>
    </div>
    <div class="order-header">


        <h2>Rediger ordre: {{ order.order_number }}</h2>
        <div class="button-row">
        
        {% if pdf_exists %}
            <button type="button" onclick="window.location.href='{% url 'show_order_pdf' order.order_number %}'" class="print-button">Vis ordrebekreftelse</button>
        {% endif %}

        <!-- Button to generate the PDF -->
        <button type="button" onclick="window.location.href='{% url 'order_confirmation' order.order_number %}'" class="print-button" style="background-color: #337ab7;">{% if pdf_exists %}Generer ny ordrebekreftelse{% else %}Generer ordrebekreftelse{% endif %}</button>
    </div>
    </div>

    <!-- Toggle Buttons Container -->
    <!-- Toggle Buttons Container -->
    <div class="toggle-buttons-container">
        <!-- Delivered Toggle -->
        <div class="toggle-button">
            <label class="switch">
                <input type="checkbox" id="delivered" name="delivered" {% if order.delivered %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
            <span class="label-text">Levert</span>
        </div>

        <!-- Deleted Toggle -->
        <div class="toggle-button">
            <label class="switch">
                <input type="checkbox" id="deleted" name="deleted" {% if order.deleted %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
            <span class="label-text">Slettet</span>
        </div>
    </div>

    <label for="customer_name">Kunde:</label>
    <p><a href="{% url 'customer_detail' order.customer.id %}">{{ order.customer.name }}</a></p>

    <label for="delivery_info">Leveringsinfo:</label>
    <input type="text" id="delivery_info" name="delivery_info" value="{{ order.delivery_info }}" />

    <label for="delivery_price">Leveringspris:</label>
    <input type="text" id="delivery_price" name="delivery_price" value="{{ order.delivery_price }}" />

    <label for="extra_info">Ekstra info:</label>
    <input type="text" id="extra_info" name="extra_info" value="{{ order.extra_info }}" />

    <label for="total_price">Totalpris:</label>
    <input type="text" id="total_price" name="total_price" value="{{ order.price }}" />

    <label for="paid">Betalt:</label>
    <input type="text" id="paid" name="paid" value="{{ order.paid }}" />

    <label for="a_paid">A-Konto:</label>
    <input type="text" id="a_paid" name="a_paid" value="{{ order.a_paid }}" />

    <label for="remaining">Resterende:</label>
    <input type="text" id="remaining" name="remaining" value="{{ order.remaining }}" disabled />

    <label for="salesman">Selger:</label>
    <input type="text" id="salesman" name="salesman" value="{{ order.salesman }}" />
    <div>


    <label for="date_added">Dato lagt til:</label>
    <input type="text" id="date_added" name="date_added" value="{{ order.date_added }}" disabled />

    <h3>Items</h3>
    <!-- Item navigation tabs -->
    <div class="item-navigation">
        {% for item in items %}
            <!-- Add type="button" to prevent form submission -->
            <button type="button" class="item-nav-button" onclick="showItem({{ forloop.counter0 }})" id="nav-button{{ forloop.counter0 }}" data-item-id="item{{ forloop.counter0 }}">{{ forloop.counter }}</button>
        {% endfor %}
    </div>
  

     <div id="itemsContainer">
    {% for item in items %}
        <div class="item" id="item{{ forloop.counter0 }}" style="display: none;">

            <label>Produkt:</label>
            <input type="text" name="product_{{ forloop.counter }}" value="{{ item.product }}" />

            <label>Produktinfo:</label>
            <input type="text" name="info_{{ forloop.counter }}" value="{{ item.product_info }}" />

            <label>Antall:</label>
            <input type="number" name="amount_{{ forloop.counter }}" value="{{ item.amount }}" />

            <label>Ben:</label>
            <input type="text" name="legs_{{ forloop.counter }}" value="{{ item.legs }}" />

            <label>Stoff & farge:</label>
            <input type="text" name="fabric_{{ forloop.counter }}" value="{{ item.fabric }}" />

            <label>Produktpris:</label>
            <input type="text" name="price_{{ forloop.counter }}" value="{{ item.price }}" />
            </div>
        {% endfor %}
    </div>
<div class="product-button-container" style="display: flex;">
    <button type="button" id="addNewProduct" class="save-button" style="background-color: #337ab7; margin-right:3px">Legg til nytt produkt</button>
    <button type="button" id="removeCurrentProduct" class="save-button" style="background-color: #d9534f; margin-left:3px">Fjern gjeldende produkt</button>
</div>

<button type="submit" formaction="{% url 'update_order' order.order_number %}" class="save-button" style="background-color: #4cae4c; border:none; margin-top:6px">Oppdater ordre</button>


</form>

<script>
document.getElementById('removeCurrentProduct').addEventListener('click', function() {
    var activeButton = document.querySelector('.item-nav-button.active');
    if (!activeButton) {
        alert('Ingen produkt er valgt for fjerning.');
        return;
    }

    var itemId = activeButton.getAttribute('data-item-id');
    var itemToRemove = document.getElementById(itemId);

    if (itemToRemove) {
        // Remove the item
        itemToRemove.parentNode.removeChild(itemToRemove);
        // Remove the button
        activeButton.parentNode.removeChild(activeButton);
    } else {
        console.error('The associated item could not be found.');
        return;
    }

    // No need to update IDs or data attributes; focus on what to show next
    var items = document.getElementsByClassName('item');
    var buttons = document.getElementsByClassName('item-nav-button');
    if (items.length > 0) {
        // Reset active state for buttons
        Array.from(buttons).forEach(button => button.classList.remove('active'));
        // Arbitrarily show the first item; adjust based on your UX needs
        var id_check = parseInt(itemId.replace("item", ""))
        if (id_check > 1){
            var next_item = id_check - 1
            showItem(next_item);
            buttons[next_item].classList.add('active');
        } else {
            showItem(0);
            buttons[0].classList.add('active');
        }

    } else {
        // Handle case where no items are left
        // Possibly clear or hide the container or show a placeholder
    }
});



document.getElementById('addNewProduct').addEventListener('click', function() {
    var itemCount = document.getElementsByClassName('item').length;

    // Create new nav button for the item
    var newNavButton = document.createElement('button');
    newNavButton.setAttribute('type', 'button');
    newNavButton.classList.add('item-nav-button');
    newNavButton.setAttribute('onclick', 'showItem(' + itemCount + ')');
    newNavButton.id = 'nav-button' + itemCount;
    newNavButton.textContent = itemCount + 1;
    document.querySelector('.item-navigation').appendChild(newNavButton);

    // Create new item div
    var newItem = document.createElement('div');
    newItem.classList.add('item');
    newItem.id = 'item' + itemCount;
    newItem.style.display = 'none';
    var fields = ['product', 'info', 'amount', 'legs', 'fabric', 'price'];
    var labels = ['Produkt:', 'Produktinfo:', 'Antall:', 'Ben:', 'Stoff & farge:', 'Produktpris:'];
    fields.forEach(function(field, index) {
        var label = document.createElement('label');
        label.textContent = labels[index];
        newItem.appendChild(label);

        var input = document.createElement('input');
        input.type = (field === 'amount') ? 'number' : 'text';
        input.name = field + '_' + (itemCount + 1);

        // Set the default values for amount and price
        if (field === 'amount') {
            input.defaultValue = '1';
        } else if (field === 'price') {
            input.defaultValue = '0';
        }

        newItem.appendChild(input);


    });
    document.getElementById('itemsContainer').appendChild(newItem);

    // Automatically select the new item
    // This involves showing the new item and updating the active class on buttons
    showItem(itemCount);

    // Update all buttons to ensure only the new button has the active class
    var buttons = document.getElementsByClassName('item-nav-button');
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].classList.remove('active');
    }
    newNavButton.setAttribute('data-item-id', 'item' + itemCount); // Associate button with item
    newNavButton.classList.add('active');
});

// JavaScript function to show an item and hide others
function showItem(index) {
    var items = document.getElementsByClassName('item');
    var buttons = document.getElementsByClassName('item-nav-button');

    // If no items exist, do nothing
    if (items.length === 0) {
        return;
    }
for (var i = 0; i < items.length; i++) {
    items[i].style.display = 'none';
    buttons[i].classList.remove('active');
}

// Show the selected item and add active class to the button
document.getElementById('item' + index).style.display = 'block';
document.getElementById('nav-button' + index).classList.add('active');
}

// Initialize the view by showing the first item and marking the first button as active
document.addEventListener('DOMContentLoaded', function() {
showItem(0);
});
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');


</script>

{% endblock %}
