{% extends 'base/base.html' %}
{% load static %}
{% load form_tags %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/products_mainpage.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile.css' %}">


<div class="page-container-products">

  <aside class="sidebar-container-products">
    <!-- Filter Groups -->
    <div class="filter-group">
    {% for category in all_categories %}
        {% if not category.parent %}
            <a style="text-decoration: none" href="{% url 'category_search' category.name %}">
            <h4 class="filter-title">{{ category.name }}</h4></a>
            {% if category.subcategories.all %}
                <ul class="filter-options">
                    {% for subcategory in category.subcategories.all %}
                        <li>
                            <a href="{% url 'category_search' subcategory.name %}">{{ subcategory.name }}<span class="item-count">{{ subcategory.name|get_category_count }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
    <!-- Additional filter groups for Bathroom, Kitchen, etc. -->

    <!-- Recent Products -->
    <div class="filter-group">
      <h4 class="filter-title">Nye produkter</h4>
        {% for product in all_products %}
          {% if forloop.counter <= 5 %}
            <div class="recent-product-item">
              <a href="{% url 'product_page' product.id %}">
              <img src="{{ product.images.all.0.image.url }}" alt="{{ product.title }}" class="recent-product-image"></a>

              <div class="recent-product-details">
                <h5 class="recent-product-title">{{ product.title }}</h5>
                {% if product.sale_price %}
                    <p class="product-price">{{ product.sale_price }} kr</p>
                {% else %}
                    <p class="product-price">{{ product.price }} kr</p>
                {% endif %} 
              </div>
            </div>
          {% endif %}
        {% endfor %}
    </div>
  </aside>
  <div class="products-container">

<div class="top-bar-products">
<form method="get" action="{% url 'products' %}">
    <!-- Correct the hidden input to maintain the current per_page state -->
    <input type="hidden" name="per_page" value="{{ request.GET.per_page }}">

<div class="page-layout-section">
      <div class="filter-bar">
  <ul class="per-page-selector">
    <!-- HIDDEN FOR NOW 
      <li>
        <a href="?per_page=1{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="{% if request.GET.per_page == "1" %}active{% endif %}">1</a>
      </li>
    -->
    <li>
      <a href="?per_page=2{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="{% if request.GET.per_page == "2" %}active{% endif %}">2</a>
    </li>
    <li>
      <a href="?per_page=3{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="{% if request.GET.per_page == "3" %}active{% endif %}">3</a>
    </li>
    <li>
      <a href="?per_page=4{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="{% if request.GET.per_page == "4" %}active{% endif %}">4</a>
    </li>
  </ul>
      <!-- Select dropdown for sorting products -->
      <select class="filter-select" name="sort" id="sort" onchange="this.form.submit()">
        <option value="newly_added" {% if request.GET.sort == "newly_added" %}selected{% endif %}>Nyheter</option>
        <option value="price_low_high" {% if request.GET.sort == "price_low_high" %}selected{% endif %}>Pris lav-høy</option>
        <option value="price_high_low" {% if request.GET.sort == "price_high_low" %}selected{% endif %}>Pris høy-lav</option>
        <option value="name_a_z" {% if request.GET.sort == "name_a_z" %}selected{% endif %}>Navn A-Z</option>
        <option value="name_z_a" {% if request.GET.sort == "name_z_a" %}selected{% endif %}>Navn Z-A</option>
        <option value="most_discounted" {% if request.GET.sort == "most_discounted" %}selected{% endif %}>Tilbud</option>
      </select>
    </div>
  </div>
</div>
</form>
<div class="product-cards-section">

  {% if category|tostring  == "Hyttemøbler" %}
    {% include 'product/hyttemobler.html' %}
  {% else %}
    {% include 'product/single_product.html' %}
  {% endif %}

</div>
</div>
</div>
{% include 'base/footer.html' %}
{% endblock %}
